
<mat-card id="estados">
  <mat-form-field id="filtro_estado">
    <mat-select placeholder="Destino">
      <mat-option value="option">Durango</mat-option>
      <mat-option value="option">Zacatecas</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Durango</mat-option>
      <mat-option value="option">Zacatecas</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

