#estados{
  margin: 10px auto;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #99cccc;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
}
#filtro_estado{
  width: 600px;
}
h1{
  font-style: bold;
  color: #99cccc;
  text-align: center;
  font-size: 80px;
}