<div id="wrapper">
<mat-card id="footer">
  <div id="caja">
    <h4>Contactos</h4>
    <h6>618-189-6856</h6>
    <h6>618-187-6285</h6>
  </div>
  <div id="caja">
    <h4>Politicas</h4>
    <h6>aqui se muestran todas las politicas</h6>
    <h6>que se encuentran dentro de la empresa</h6>
  </div>
  <div id="caja">
      <h4>REDES SOCIALES</h4>
      <h6>Facebook</h6>
      <h6>Twitter</h6>
      <h6>Instagram</h6>
      <h6>YouTube</h6>
  </div>
  <div id="caja">
    <h4>AYUDA</h4>
    <h6>Para ayuda, quejas o sugerencias:</h6>
    <h6>Orozco@gmail.com</h6>
    <h6>Eduardo@gmail.com</h6>
    <h6>Kevin@gmail.com</h6>
  </div>
</mat-card>
</div>