.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  #estados{
      align-content: center;
      width: 25rem;
      left:500px;
      top:200px;
  }
  #filtro_estado{
      left: 100px;
  }