<mat-card id="hoteles">
  <h1>Registrar hotel</h1>

  <!--Nombre del hotel-->

 <form (ngSubmit)="onGuardarHotel(formNew)" #formNew="ngForm" class="subir-hoteles">
      <table class="datos" cellspacing="0"><tr>
         <td>  
    <div class="nombrehotel" id="nombre">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="hotel.nombre_hotel" name="nombre_hotel" #nombreHotel="ngModel" matInput placeholder="Nombre del hotel" required>
      </mat-form-field>
    </div>

  

 <!--Ciudad y estado-->
 
 <table class="datos" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width">
    <input [(ngModel)]="hotel.ciudad" name ="ciudad" #ciudad="ngModel" matInput placeholder="Ciudad" required>
  </mat-form-field></td>
  <td><mat-form-field class="example-full-width">
    <input [(ngModel)]="hotel.estado" name ="estado" #estado="ngModel" matInput placeholder="Estado" required>
  </mat-form-field></td>
</tr>
</table>



<!--Ubicacion-->
  <div class="ubicacion">
    <mat-form-field>
      <input [(ngModel)]="hotel.ubicacion" name="ubicacion" #ubicacion="ngModel" matInput placeholder="Ubicacion" required>
    </mat-form-field>
  </div>

  <!--Tipo de haitacion y precio por noche-->
 <table class="datos" cellspacing="0"><tr>
  <mat-form-field id="tipo">
    <mat-label>Tipo de habitacion</mat-label>
    <select matNativeControl required>
      <option value="Normal">Normal</option>
      <option value="Deluxe">Deluxe</option>
    </select>
  </mat-form-field>
  
  <mat-form-field id="precio">
    <input [(ngModel)]="hotel.precio" name="precio" #precio="ngModel"matInput placeholder="Precio por noche" type="number" class="example-right-align">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
</tr>
</table>



<!--Descripcion-->
<mat-form-field class="example-full-width" >
  <textarea [(ngModel)]="hotel.descripcion" name="descripcion" #descripcion="ngModel" matInput placeholder="Descripcion" ></textarea>
</mat-form-field>
</td>
<td>

</td>
</tr>
</table>

<!--Botones-->
<mat-card>
    <div>
      <button mat-button (click)="cerrar()" id="cancelar">Cancelar</button>
      <button type="submit" mat-button id="aceptar">Guardar</button>
    </div>
</mat-card>
</form>
</mat-card>