#nombre{
    padding-right: 50px;
}
#password{
    padding-right: 40px;
}
#aceptar{
    background-color: rgb(50, 165, 50);
    float: right;
  }
  
  #cancelar{
    background-color: rgb(207, 60, 60);
  }