<mat-card id="Login">
    <h1>Registrarse</h1>
    <form #formRegister="ngForm" (ngSubmit)="onRegister()">
      <table class="datos" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre" (ngModel)="user.name" required>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Apellido Paterno" required>
          </mat-form-field></td>
        </tr>
      </table>

      <div class="email">
        <mat-form-field>
          <input matInput placeholder="Correo Electronico" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
        </mat-form-field>
      </div>
      
      <table class="password" cellspacing="30"><tr>
          <td><mat-form-field class="nombre">
              <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
              <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field></td>
          <td><mat-form-field class="paterno">
              <input matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password2' : 'text'" [formControl]="password2" required>
              <mat-error *ngIf="password2.invalid">{{getPasswordError2()}}</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password2'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field></td>
        </tr>
      </table>
      <div class="user">
          <mat-form-field>
            <input matInput placeholder="Nombre de Usuario" required>
          </mat-form-field>
        </div>
    </form>
  </mat-card>

  <mat-card>
    <div>
      <button mat-button type="submit" (click)="cerrar()" id="cancelar">Cancelar</button>
      <button mat-button (click)="aceptar()" id="aceptar">Aceptar</button>
    </div>
    <div>
      <a href="/src/app/components/users/iniciar-sesion" (click)="IniciarSesion()">Ya tengo cuenta</a>
    </div>
  </mat-card>